/* Estilos gerais para desktop */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 45em;
  max-width: 1800px;
  margin: auto;
}

footer div {
  flex: 1 1 300px;
  min-width: 0px;
}

/* Estilos para mobile */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 2em;
    padding: 1em;
  }

  footer div {
    width: 100%;
    margin-bottom: 2em;
  }

  .copyright {
    font-size: 0.9em;
    padding: 1em;
  }
}